.botum-footer {
  height: 160px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  background: #002f34;
}
.botum-footer img{
    width: 150px;
}
.upper-footer{
   
    background: #ebeeef;
    height: 190px;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    gap: 20px;
    
}
.upper-footer div{
    padding-top: 25px;
}
.upper-footer ul{
    color:#002f34a3 ;
    font-size: 13px;
    list-style: none;
}
.upper-footer h5{
    font-size: 16px;
}
.totalw{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}